<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="container">
	<form action='/create' method='post'>
	<input type="text" name="url" placeholder="URL">
	<input type="submit">
</div>
</body>
</html>